*
.*
*.un~
!.gitignore
!terraform/
!terraform/*.tf
!terraform/template*
!tf-state/
!tf-state/*.template
!scripts/
!scripts/get-certs.sh
!scripts/*.template
!kube-resources/
!kube-resources/*.yaml
!kube-resources/*.json
!kube-rescoures/*.md
!ansible.cfg
!*.md

